<!doctype html>
<html>
    <head>
        <script src="../node_modules/angular/angular.js"></script>
    </head>
    <body ng-app='app'>
        <div class='main' style='margin:50px'>

            <div ng-controller="CtrlA">
                Current Time is {{moment}} {{tz}}
            </div>


        </div>

        <script src="index.js"></script>
    </body>
</html>